/* 768 */
@media (width > 780px) {
  .navbar {
    display: none;
  }
}
@media (width <= 780px) {
  .img-person_2 {
    left: 0;
    width: 100%;
  }
  .header {
    display: none;
  }
  .header__burger {
    display: none;
  }
  .activities__item {
    width: 50%;
  }
}

/* 1024 */
@media (width <= 1024px) {
  .about__title {
    left: 10px;
    top: 100px;
  }
}
@media (width <= 425px) {
  .activities__item {
    width: 100%;
    height: 200px;
  }
}
