/*#region basic*/

* {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
body {
  background-color: #f4f9e2;
}
.container {
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
  align-items: center;
}

.hidden {
  display: none !important;
}
.white-block {
  width: 100%;
  background-color: #fff;
  height: 120px;
}
/*#endregion*/

/*#region bg*/

.bg-pink {
  background-color: #ffe2de;
}
.bg-linen {
  background-color: #f37c9c;
}
.bg-green-yellow {
  background-color: #c4e769;
}
.bg-aqua {
  background-color: #62d0df;
}
.bg-blue {
  background-color: #0052c1;
}
.bg-blue-dark {
  background-color: #22356f;
}
.bg-rebecca-purple {
  background-color: #66339f;
}
/*#endregion*/

/*#region img */

.bg-main-img {
  position: absolute;

  background-image: url(../img/main.PNG);
  background-repeat: no-repeat;

  width: 615px;
  height: 823px;

  top: 0;
  right: 0;
}

.bg-focus-img {
  background-image: url(../img/focus_item_bg.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
}

.img-person_2 {
  background-image: url(../img/person_2.jpg);

  position: absolute;

  right: 0;

  width: 600px;
  height: 100%;

  background-position: left;
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
}

.img-person_3 {
  background-image: url(../img/person_3.jpg);

  position: absolute;

  left: 0;

  width: 600px;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
}

.img-person_4 {
  background-image: url(../img/person_4.jpg);

  position: absolute;

  right: 0;

  width: 480px;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
}

.img-person_5 {
  background-image: url(../img/person_5.jpg);

  position: absolute;

  left: 0;

  width: 500px;
  height: 380px;

  background-position: center;
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
}
/*#endregion*/

/*#region main*/

.main {
  position: relative;
  height: fit-content;
  background-color: #f4f9e2;
}

/* #region header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 150px;
  padding-top: 20px;

  height: 50px;
}

.header__logo {
  display: block;
  font-weight: Bold;
  font-size: 24px;
  line-height: 95%;
  text-decoration: none;

  color: #62d0df;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.header__menu__link {
  margin: 0 20px;

  cursor: pointer;

  font-size: 14px;
  line-height: 95%;
  color: #22356f;
}

.btn-contact {
  padding: 15px 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 100%;

  border-radius: 58px;
  border: none;

  cursor: pointer;

  color: #ffffff;
  background-color: #62d0df;
}
/* #endregion header */

/* #region navbar */

.navbar {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 150px;

  width: 100%;
  height: 80px;
}

.navbar__logo {
  display: block;

  margin-right: 10px;

  font-size: 48px;

  color: #fab63e;

  transition: 1s;
}

.navbar__logo_active {
  margin-right: 10px;

  transition: 1s;
}

.navbar__menu {
  position: absolute;

  display: block;

  margin-top: -600px;

  width: 100%;

  transition: 1s;

  z-index: 1;
}

.navbar__menu_active {
  margin-top: 600px;

  transition: 1s;
}

.navbar__link {
  display: block;
  background-color: #f4f9e2;
  opacity: 0.8;

  padding-top: 30px;
  padding-bottom: 30px;

  border-bottom: #a4a8ae;
  border-style: outset;
  border: 4px outset darkgray;

  margin: 8px auto;

  width: 90%;

  text-align: center;
  align-items: center;

  color: #fab63e;
}

.navbar__button {
  margin: 0 0 0 16px;

  width: 50px;
  height: 50px;

  border: 2px solid;
  border-radius: 2px;
  border-color: #fab63e;

  transition: 1s;

  z-index: 3;
}

.navbar__button_active {
  transition: 1s;
  border-radius: 50%;
  transform: rotate(45deg);
}

.navbar__button-line {
  margin: 25% auto;

  width: 80%;
  height: 0.5px;

  background-color: #fab63e;
}
/* #endregion navbar */

/*#endregion main*/

/*#region headline*/

.headline {
  position: relative;
}
.headline__anchor {
  position: relative;

  display: block;

  margin-bottom: 50px;

  font-size: 24px;
  font-weight: 700;
  line-height: 95%;

  color: #62d0df;
}
.headline__title {
  margin-bottom: 100px;

  max-width: 500px;

  font-size: 45px;
  font-weight: 700;
  line-height: 117%;

  color: #22356f;
}
.headline__description {
  margin-bottom: 70px;

  max-width: 500px;

  font-size: 24px;
  font-weight: 400;
  line-height: 150%;

  color: #22356f;
}
.headline__buttons {
  display: flex;
  justify-content: start;
  align-items: center;

  margin-bottom: 100px;

  height: 50px;
}
.headline__action {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 150px;
  height: 50px;
  min-width: 32px;
  max-width: 300px;

  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.1rem;

  color: #f9b640;
}
.headline__action:hover {
  color: #ffffff;
  background-color: #f9b640;
}
/*#endregion headline*/

/*#region advantages */

.advantages {
  position: relative;
  height: fit-content;

  color: #ffffff;
  background-color: #62d0df;
}
.advantages__title {
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 26px;
  font-weight: 700;
  line-height: 165%;
}
.advantages__accent {
  font-size: 20px;
  font-weight: 700;
  line-height: 170%;
}
.advantages__description {
  display: block;

  padding-bottom: 100px;

  max-width: 500px;
  min-width: 300px;

  font-size: 20px;
  font-weight: 500;
  line-height: 170%;
}
/*#endregion */

/*#region about */

.about {
  height: fit-content;
  background-color: #ffffff;
}
.about__title {
  position: absolute;

  top: 155px;
  left: -155px;

  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 6%;

  color: #22356f;
}
.about__descriptions {
  position: relative;

  display: block;

  max-width: 600px;
  min-width: 300px;

  margin: 0 auto;
  padding: 150px 10px 70px 10px;

  font-size: 22px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0.02rem;

  color: #22356f;
}
.about__link {
  display: block;
  text-align: center;

  margin: 0 auto;
  padding: 25px 0 25px 0;

  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.05rem;

  color: #3554b0;
}
/*#endregion*/

/*#region activities */

.activities {
  position: relative;

  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;

  height: fit-content;

  background-color: #ffffff;
}
.activities__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  height: 420px;
}
.activities_line {
  margin: 0 auto 30px;

  width: 80%;
  height: 2px;

  background-color: #ffffff;
}
.activities__text {
  display: block;
  margin: 0 auto;
  width: 80%;

  font-size: 32px;
  font-weight: 700;
  line-height: 90%;

  text-align: center;

  color: #ffffff;
}
.cirkle {
  margin: 10px;
  padding: 0px;

  font-size: 20px;
  color: #f9b640;
}
/*#endregion*/

/*#region focus */

.focus {
  position: relative;

  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;

  height: fit-content;

  background-color: #ffffff;
}
.focus__item {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 33.33333333333333%;
  min-width: 320px;

  height: 480px;
}
.focus_line {
  margin: 0 auto;
  width: 85%;
  height: 2px;
  background-color: #ffffff;
}
.focus__text {
  margin: 50px auto;
  width: 85%;

  font-size: 32px;
  font-weight: 700;
  line-height: 90%;

  text-align: center;

  color: #ffffff;
}

/*#endregion*/

/*#region services */

.services {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  height: fit-content;

  background-color: #edf4fb;
}
.services__item {
  padding: 50px 10px;
  width: 33.33333333333333%;
  min-width: 320px;
  max-width: 480px;
}
.services__title {
  padding: 20px 30px;

  font-size: 24px;
  font-weight: 400;
  line-height: 100%;

  color: #22356f;
}
.services__description {
  padding: 0 30px;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #22356f;
}

/*#endregion*/

/* #region statistics */

.statistics {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: left;

  height: fit-content;

  background-color: #ffffff;
}
.statistics__anchor {
  position: relative;
  display: block;

  padding: 100px 0 0 700px;
  margin-bottom: 100px;

  width: auto;

  font-size: 16px;
  font-weight: 300;
  line-height: 65%;
  letter-spacing: 0.6%;

  color: #22356f;
}
.statistics__title {
  position: relative;

  padding: 100px 10px 0 700px;
  margin-bottom: 300px;

  max-width: 675px;

  font-size: 30px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -1%;

  color: #22356f;
}
.thirve_link {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: 1%;
  text-decoration: none;

  color: #62d0df;
}
.get_help_link {
  position: relative;

  display: block;

  padding: 0 0 0 700px;
  margin: 0 0 100px 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.15rem;

  color: #fab63e;
}

/* #endregion  */

/* #region assessment*/

.assessment {
  position: relative;

  height: fit-content;

  color: #ffffff;
  background-color: #22356f;
}
.assessment__anchor {
  display: block;

  padding: 100px 0 0 10px;
  margin: 0 0 200px 0;

  max-width: 600px;

  font-size: 16px;
  font-weight: 300;
  line-height: 65%;
  letter-spacing: 0.05rem;
}
.assessment__title {
  padding: 0 0 0 10px;
  margin: 0 0 80px 0;

  max-width: 600px;

  font-size: 48px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -0.1rem;
}
.assessment__description {
  padding: 0 0 0 10px;
  margin: 0 0 200px 0;

  max-width: 600px;

  font-size: 30px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.08rem;
}
.assessment__link {
  position: relative;

  display: block;

  margin: 0 0 0 0;
  padding: 0 0 100px 10px;

  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.15rem;

  color: #62d0df;
}
/* #endregion  */

/* #region contacts*/

.contacts {
  position: relative;

  height: fit-content;

  color: #22356f;
  background-color: #ffffff;
}
.contacts__content {
  display: flex;
  margin-left: 500px;
}
.contacts__item {
  margin: 0 5px 0 45px;

  width: 33.33333%;
  min-height: 380px;
}
.contacts__title {
  padding: 70px 0px 0px 0px;
  margin: 0px 0px 60px 0px;

  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.08rem;
}
.contacts__description {
  font-size: 13px;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.06rem;
}
.contacts__email {
  color: #0052c1;
}
/* #endregion  */

/* #region footer */

.footer {
  width: 100%;
  height: 80px;
  background-color: #62d0df;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.copyright {
  margin-left: 100px;

  color: #ffffff;
}
/* #endregion  */
