/* 1024 */
@media (width <= 1024px) {
  .about__title {
    left: 10px;
    top: 100px;
  }
  .focus__item {
    width: 50%;
  }
  .focus__item:last-child {
    width: 100%;
  }
  .img-person_3 {
    width: 100%;
  }
  .statistics__anchor {
    padding-left: 20px;
    padding-top: 70px;
    margin-bottom: 400px;

    font-size: 20px;

    color: white;
  }
  .statistics__title {
    padding-left: 20px;

    color: white;
  }
  .get_help_link {
    padding: 0;
    margin: 0 auto 100px auto;

    font-size: 20px;

    color: #22356f;
  }
  .img-person_4 {
    width: 50%;
  }
  .assessment__title {
    max-width: 45%;
  }
  .assessment__description {
    max-width: 45%;
  }
  .img-person_5 {
    display: none;
  }
  .contacts__content {
    margin: 0 auto;
  }
}
/* 768 */
@media (width > 780px) {
  .navbar {
    display: none;
  }
}
@media (width <= 780px) {
  .img-person_2 {
    left: 0;
    width: 100%;
  }
  .img-person_3 {
    left: 0;
    width: 100%;
  }
  .header {
    display: none;
  }
  .header__burger {
    display: none;
  }
  .activities__item {
    width: 50%;
  }
  .focus__item {
    width: 100%;
    height: 300px;
  }
}

/* 425 */
@media (width <= 425px) {
  .activities__item {
    width: 100%;
    height: 320px;
  }
}
